.quick-profile-container {
    display: flex;
    flex-direction: row;
}

.quick-profile-field {
    color: rgb(199, 126, 247);
}

#profile-pic {
    border: 3px solid orangered;
    height: 200px;
    width: 250px;
    border-radius: 8px;
}

#profile-info {
    margin-left: 20px;

}

#qualifications-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 60%;
}
