body {
    background-color: black;
    margin: 20px;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: aliceblue;
}

a {
    color: aqua;
}

h1 {
    color: orangered;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
}

h3 {
    color: rgb(136, 197, 247);
}

ul {
    color: aliceblue;
}